<div class="m-4 data_type_form">
    <div class="row g-2 ">
        <div class="col-3">
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div class="col-3">
            {{ form.data_type.label }}
            {{ form.data_type }}
        </div>
        <div class="col-3 ">
            <div class="container d-none hidden_object">
                From
                {{ form.minimum }}
                To
                {{ form.maximum }}
            </div>
        </div>
        <div class="col-2">
            {{ form.order.label }}
            {{ form.order }}
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-danger mt-4" id="delete_column">Delete</button>
        </div>
    </div>
</div>
